html, body {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  font-size: 18px;
}

body {
  background: #f8ed18;
  color: #231f20;
  line-height: 1.5;
}

h1 {
  margin: 0;
}

main {
  border-right: 2px solid #333;
  margin-right: 10rem;
  padding: 1rem;
}

main > header,
main > address,
main > section {
  margin-bottom: 2rem;
}

a {
  color: #231f20;
}

kbd {
  font-size: 0.8rem;
}

#contact {
  font-style: normal;
}

#header {
  line-height: 1;
}

@media print {
  .no-print {
    display: none;
  }
}
